*,
*::before,
*::after {
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #020202;
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}


input,
button,
textarea,
select {
  font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}


#root,
#__next {
  isolation: isolate;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding-block:30px ;
}

.Headers  {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  >a {
    width: 150px;
    font-size: 28px;
    text-decoration: none;
    color: white;
  }
}

.headersurls  {
  display: flex;
  gap: 50px;
  
  
  a {
    color: #F5F5F5;
    text-decoration: none;
  }
  
}

.headerBtn {
  width: 120px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  background-color: #2ACF7E;
  color: white;
  cursor: pointer;
}

div {
  color: aqua;
}